html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    font-size: 5vw;
}

.box {
    width: 50%;
    height: 40vh;
    margin: 30px auto;
    padding: 2rem;
    background-color: lightblue;
}

.box h2 {
    font-size: 2em;
}

.box p {
    font-size: 18px;
}