body {
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
}


/* Heading */
h1 {
    text-align: center;
}


/* Box Model */
.box {

    width: 300px;
    height: 250px;

    background-color: white;

    /* Space inside the box */
    padding: 25px;

    /* Border around box */
    border: 3px solid black;

    /* Space outside the box */
    margin: 50px auto;

    border-radius: 15px;

    box-shadow: 5px 5px 15px gray;

}


/* Text */
.box h2 {
    color: blue;
}


.box p {
    font-size: 18px;
}


/* Button */
button {

    background-color: green;
    color: white;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

}